/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  color: white;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
}

h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 40px;
  font-size: 80px;
}

.bg {
  background-image: url("../assets/medea-bg-v.jpg");
  background-position: 0 35%;
  color: transparent;
  padding: 20px 40px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medea-containers {
  width: 65%;
  transition: all 0.9s ease-in;
  cursor: pointer;
}

.medea1 {
}

.medea2 {
  transform: translateY(-97px);
}

.medea3 {
  transform: translateY(-100px);
}

.medea4 {
  transform: translateY(-125px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
